body{
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
.actionbar {
  background-color: #211f21;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.actionbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: visible;
}
.actionbar ul li{
    
}
.actionbar ul li a{
  font-family: 'Poppins' ,sans-serif;

  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  background-color: #E3FFE7;
}

.actionbar ul li a:hover{
  background-color: #E3FFF7;
}

#navright{
  float: right;
}
#classcode{
  float: left;
}

.code{
  margin: auto;
  width: 40%;
  height: 40%;
  padding: 10px;

  background-color: #00c200;
}
.code input[type=text]{
  font-size: 300%;
  width: 50%;
}
