body{
  margin: 0;
  background-image: url("images/mainpage-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.actionbar {
  background-color: #211f21;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.actionbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: visible;
}
.actionbar ul li{
}
.actionbar ul li a{
  font-family: 'Poppins' ,sans-serif;

  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  background-color: #E3FFE7;
}

.actionbar ul li a:hover{
  background-color: #E3FFF7;
}

#navright{
  float: right;
}

.code{
  position: fixed;
  top: 67%;
  left: 35.7%;
}
.code input[type=number]{
  font-size: 3.7vmax;
  width: 28.3vmax;


  -moz-appearance: textfield;
}

.code input::-webkit-outer-spin-button,
.code input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
